ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255) !important;
    /* Define o fundo como branco */
    color: black !important;
    /* Define a cor do texto como preto */
}

// .body {
//     background-color: white !important;
//     color: black !important;
// }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    /* Alinha verticalmente no centro */
    text-align: center;
    /* Centraliza o texto */
    padding: 16px;
    /* Adiciona um padding para não ficar colado nas bordas */
    height: 100vh;
    /* Garante que o conteúdo ocupe toda a altura da tela */
    background-color: white !important;
    /* Define o fundo como branco */
    color: black !important;
    /* Define a cor do texto como preto */
}

.responsive-img {
    width: 100%;
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: cover;
    /* Cobre o contêiner */
}

.text-container {
    display: flex;
    /* Define o contêiner como flexível */
    flex-direction: column;
    /* Alinha os itens verticalmente */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    justify-content: center;
    /* Alinha os itens verticalmente */
    margin-top: 20px;
    /* Espaço entre a imagem e o texto */
}

.title {
    margin-top: 10px;
    padding-top: 20px;
    /* Remove margens padrão do título */
    font-size: 2.5rem;
    /* Tamanho maior para dispositivos grandes */
}

.subtitle {
    margin: 0;
    /* Remove margens padrão do parágrafo */
    font-size: 1.2rem;
    // margin-top: 20%;
    padding: 20px;
    /* Ajuste o tamanho da fonte se necessário */
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    .title {
        font-size: 1.8rem;
        /* Tamanho menor em telas pequenas */
    }

    .subtitle {
        font-size: 1.2rem;
        /* Tamanho menor em telas pequenas */
    }

    .text-container {
        margin-top: 15px;
        /* Menor espaço em telas pequenas */
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 1.5rem;
        /* Tamanho ainda menor em telas extra pequenas */
    }

    .subtitle {
        font-size: 0.9rem;
        /* Tamanho ainda menor em telas extra pequenas */
    }
}