<ion-content [fullscreen]="true" class="content" scrollAssist="false" scrollPadding="false">

  <!-- Imagem de banner -->
  <ion-img class="responsive-img" src="assets/img/landing_page_banner.png"></ion-img>

  <!-- Título e subtítulo -->
  <div class="text-container">
    <ion-title class="title">Esqueceu a senha?</ion-title>
    <p class="subtitle">Informe seu e-mail abaixo e enviaremos as instruções para a recuperação de sua senha.</p>
  </div>

  <!-- Formulário de Cadastro -->
  <form action="" class="signup-form">
    <div class="ion-padding">

      <!-- Campo E-mail -->
      <ion-item lines="none" class="custom-item">
        <ion-icon name="at-outline" slot="start"></ion-icon>
        <ion-input placeholder="E-mail"></ion-input>
      </ion-item>

      <!-- Botão de Cadastro -->
      <ion-button expand="block" color="primary" [routerLink]="['/home']" style="margin-top: 20px;">Recuperar
        Senha</ion-button>

      <!-- Link para Login -->
      <div class="login-link">
        <p>Voltar para <a [routerLink]="['/login']" style="text-decoration: none;">Logar</a></p>
      </div>

    </div>
  </form>

</ion-content>